.popup__name {
    margin-top: 41px;
    padding: 7px 0 8px 0;
    border: none;
    border-bottom: 1px solid #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.popup__name:focus {
    outline: 0px;
}

@media screen and (max-width: 770px) {
    .popup__name {
        margin-top: 69px;
        padding: 5px 0 10px 0;
    }
}