.popup__prof {
    margin-top: 22px;
    padding: 0 0 9px 0;
    border: none;
    border-bottom: 1px solid #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.popup__prof:focus {
    outline: 0px;
}

@media screen and (max-width: 770px) {
    .popup__prof {
        padding-bottom: 7px;
        margin-top: 30px;
    }
}