.page {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.content {
    box-sizing: border-box;
    padding-top: 45px;
    padding-left: 19px;
    padding-right: 19px;
    margin: 0 auto;
    max-width: 918px;
    min-width: 320px;
}

@media screen and (max-width:870px) {
    .content {
        padding-top: 28px;
    }
}

/* шапка */

.header {
    border-bottom: 1px solid #545454;
    min-height: 74px;
    max-width: 880px;
}

@media screen and (max-width:870px) {
    .header {
        min-height: 56px;
    }
}

.header__logo {

}

@media screen and (max-width:870px) {
    .header__logo {
        max-width: 103.7px;
    }
}

/* секция профиль */
.profile {
    display: flex;
    margin-top: 40px;
    max-height: 120px;
    max-width: 880px;
}

@media screen and (max-width:870px) {
    .profile {
        flex-direction: column;
        height: 286px;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

.profile__avatar {
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    display: inline-block;
}

.profile__profile-info {
    margin-left: 30px;
    min-height: 73px;
    max-width: 336px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width:870px) {
    .profile__profile-info {
        margin: 0;
    }
}

.profile__name  {
    margin: 22px 0 0 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    /* align-self: center; */
}

@media screen and (max-width:870px) {
    .profile__name {
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
    }
}

.profile__description {
    margin: 9px 0 25px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width:870px) {
    .profile__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin: 0;
    }
}

.profile__edit-button {
    margin: 30px 0 0 0;
    display: inline-block;
    align-self: center;
    background: #000000 url(../images/edit-button-profile.svg) center no-repeat;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__add-button {
    background: #000000 url(../images/add-button.svg) center no-repeat;
    padding: 0;
    margin: 35px 0 0 244px;
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    display: inline-block;
}

@media screen and (max-width:870px) {
    .profile__add-button {
        margin: 0;
        width: 282px;
        height: 50px;
    }
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* секция элементы */

.elements {
    max-width: 880px;
    padding-top: 51px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 17px;
}

@media screen and (max-width:935px) {
    .elements {
        justify-content: center;
        padding-top: 0;
        margin-top: 36px;
    }
}

.elements__card {
    max-width: 282px;
    /* border-radius: 10px; */
    display: inline-block;
}

.elements__photo {
    max-width: 282px;
    max-height: 282px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* overflow-y: hidden; */
}

.elements__description {
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    min-height: 79px;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 20px 0 21px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.elements__title {
    color: #000000;
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.elements__like {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: 5px;
    background: url(../images/elements-like.svg) no-repeat;
    background-position: 0% 10%;
}

.elements__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.elements__like_active {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: 6px;
    background: url(../images/elements-like_active.svg) no-repeat;
    background-position: 0% 10%;
}

/* подвал */

.footer {
    box-sizing: border-box;
    min-height: 145px;
    padding-top: 51px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

/* попап */

.popup {
    background: rgb(0, 0, 0);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    align-items: center;
    top: 0px;
    left: 0px;
    display: none;
}

.popup_opened {
    position: fixed;
    /* display: flex; */
}

.popup__container {
    width: 430px;
    height: 330px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 34px 36px 0 36px;
    margin: 0 auto;
    position: relative;
    opacity: 1;
}

.popup__close-icon {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border: none;
    background: url(../images/Close-Icon.svg);
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__form {
    display: flex;
    flex-direction: column;
}

.popup__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    display: inline-block;
}

.popup__submit-button {
    min-height: 50px;
    background: #000000;
    color: #FFFFFF;
}