.page {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.content {
    box-sizing: border-box;
    padding-top: 45px;
    padding-left: 19px;
    padding-right: 19px;
    margin: 0 auto;
    max-width: 918px;
    min-width: 320px;
}

@media screen and (max-width:870px) {
    .content {
        padding-top: 28px;
    }
}

/* шапка */

.header {
    border-bottom: 1px solid #545454;
    min-height: 74px;
    max-width: 880px;
}

@media screen and (max-width:870px) {
    .header {
        min-height: 56px;
    }
}

.header__logo {

}

@media screen and (max-width:870px) {
    .header__logo {
        max-width: 103.7px;
    }
}

/* секция профиль */

.profile {
    max-width: 880px;
    min-height: 160px;
    box-sizing: border-box;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.profile__redact {
    max-width: 700px;
    display: grid;
    grid-template-areas: 
    "avatar name edit"
    "avatar descripton .";
    grid-template-columns: max-content 340px 24px;
    grid-template-rows: 60px 60px;
    /* column-gap: 30px; */
    /* grid-template-columns: max-content max-content max-content; */
}

.profile__avatar {
    max-width: 120px;
    border-radius: 50%;
    grid-area: avatar;
}

.profile__name {
    grid-area: name;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 22px 0 0 30px;
}

.profile__description {
    grid-area: descripton;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    margin: 10px 0 0 30px;
}

.profile__edit-button {
    padding: 0;
    border: 1px solid #FFFFFF;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/edit-button-profile.svg) center no-repeat;
    margin: 37px 0 0 1px;
    
}

.profile__add-button {
    padding: 0;
    border: 0;
    background: url(../images/Add-Button2.svg);
    width: 150px;
    height: 50px;
    align-self: center;
}

/* секция элементы */

.elements {
    max-width: 880px;
    padding-top: 51px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 17px;
}

@media screen and (max-width:935px) {
    .elements {
        justify-content: center;
        padding-top: 0;
        margin-top: 36px;
    }
}

.elements__card {
    max-width: 282px;
    /* border-radius: 10px; */
    display: inline-block;
}

.elements__photo {
    max-width: 282px;
    max-height: 282px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* overflow-y: hidden; */
}

.elements__description {
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    min-height: 79px;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 20px 0 21px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.elements__title {
    color: #000000;
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.elements__like {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: 5px;
    background: url(../images/elements-like.svg) no-repeat;
    background-position: 0% 10%;
}

.elements__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.elements__like_active {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: 6px;
    background: url(../images/elements-like_active.svg) no-repeat;
    background-position: 0% 10%;
}

/* подвал */

.footer {
    box-sizing: border-box;
    min-height: 145px;
    padding-top: 51px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

/* попап */

.popup {
    background: rgb(0, 0, 0);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    align-items: center;
    top: 0px;
    left: 0px;
    display: none;
}

.popup_opened {
    position: fixed;
    /* display: flex; */
}

.popup__container {
    width: 430px;
    height: 330px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 34px 36px 0 36px;
    margin: 0 auto;
    position: relative;
    opacity: 1;
}

.popup__close-icon {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border: none;
    background: url(../images/Close-Icon.svg);
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__form {
    display: flex;
    flex-direction: column;
}

.popup__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    display: inline-block;
}

.popup__submit-button {
    min-height: 50px;
    background: #000000;
    color: #FFFFFF;
}